@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.vr-features-section-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 26px;
    font-weight: bold;
}

.vr-features-card-image {
    width: 64px;
    height: 64px;
}

.vr-features-card-title {
    color: #1f2933;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.vr-features-card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}

.interaction {
    color: #1f2933;
    font-style: italic;
    font-weight: bold;
}